@import url('http://fonts.cdnfonts.com/css/collegiateblackflf');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
